body{
    margin: 0;
    background-color: hsl(0, 100%, 0%);
    color: white;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    border: 1px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(19, 24, 28);
    backdrop-filter: blur(50px);
}